* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

body {
  background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}
/* Burgerio meniu stiliai */

a,
li {
  text-decoration: none;
  list-style: none;
}
a:hover {
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(
    270deg,
    #13adc7 0%,
    #6978d1 66.67%,
    #945dd6 100%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 83px;
  border-image-slice: 1;
  transition: 0.5s;
  opacity: 0.7;
}
.icon-right {
  display: none;
}
.menu-btn {
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: 30px;
  z-index: 99;
}
.fas {
  font-size: 60px;
}
.menu-bar {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  background: #f4f4f4;
  height: 80px;
  width: 101%;
  border: black 1px solid;
  opacity: 0.9;
  padding-left: 130px;
  transform: translateX(-10550px);
  transition: transform 0.5s ease-in-out;
  z-index: 98;
}
.menu-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.menu-bar ul li {
  padding: 10px;
  font-size: 24px;
}
.menu-bar.show {
  transform: translateX(-20px);
}

/* Uzduoties sekcijos stiliai */

#task {
  padding: 50px;

  background-color: cornsilk;
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 17px -16px 7px 0px rgba(0, 0, 0, 0.58);
}

h3 {
  padding: 20px;
}

p {
  padding-bottom: 10px;
  line-height: 1.5rem;
}

/* Dezuciu klasiu sekcijos stiliai */

#box {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: cornsilk;
  box-shadow: 17px -16px 7px 0px rgba(0, 0, 0, 0.58);
  margin: 0 auto;
  position: relative;
  min-height: 290px;
}
.box1 {
  display: flex;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 32px;
  background: -webkit-linear-gradient(
    270deg,
    #13adc7 0%,
    #6978d1 66.67%,
    #945dd6 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
button {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#reset {
  background-color: grey;
  color: white;
}
.styledbox {
  width: 100px;
  height: 100px;
  background-color: red;
  display: none;
  justify-content: center;
}
.show1 {
  display: inline-block;
}

.width {
  width: 200px;

  background-color: red;
}

.heigth {
  height: 300px;
  background-color: red;
}

.centerparentdiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  align-items: center;
  justify-content: center;
}

.position {
  position: absolute;

  top: 400px;
  right: 0px;
}

/* Besikeicianciu spalvu sekcijos stiliai */

#colors {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cornsilk;
  box-shadow: 17px -16px 7px 0px rgba(0, 0, 0, 0.58);
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 10px;
}
.colorbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.color {
  margin: 20px;
  background-color: black;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  cursor: pointer;
}

.box2,
.box3,
.box4,
.box5,
.box6 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Formu sekcijos stiliai*/

/* Imputai ir Buttonai */
#form {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  background-color: cornsilk;
  box-shadow: 17px -16px 7px 0px rgba(0, 0, 0, 0.58);
  align-items: center;
  justify-content: center;
}
.formButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#emptyForm {
  margin-left: 50px;
}
.inputs {
  margin-top: 30px;
  margin-bottom: 30px;
}

input {
  width: 250px;
  height: 40px;
  padding: 0 20px;
}
input,
input::placeholder {
  font-size: 20px;
}

/* Lenteles */

.table {
  justify-content: center;
}
#tbl {
  margin-top: 30px;
}

th,
td {
  border: 2px solid black;
  border-radius: 10px;
  height: 30px;
  text-align: center;
  font-size: 1.2rem;
}

#tbl {
  width: 450px;
}
tr:nth-child(even) {
  background-color: lightgrey;
}

.off {
  display: none;
}
